[defaults]

# (pathlist) Comma separated list of Ansible inventory sources
inventory=inventory.yml

# (string) Set the main callback used to display Ansible output. You can only have one at a time.
# You can have many other callbacks, but just one can be in charge of stdout.
# See :ref:`callback_plugins` for a list of available options.
;stdout_callback=yaml
result_format = yaml

# (string) Path to the Python interpreter to be used for module execution on remote targets, or an automatic discovery mode. Supported discovery modes are>
interpreter_python=auto_silent

# (list) List of enabled callbacks, not all callbacks need enabling, but many of those shipped with Ansible do as we don't want them activated by default.
callbacks_enabled=profile_tasks

nocows = 1

ask_vault_pass = True

[privilege_escalation]

# (boolean) Toggle to prompt for privilege escalation password.
become_ask_pass=True
